* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --dark-color: #333;
  --light-color: #f4f4f4;
  --bg-dark: #444;
  --bg-light: #f4f4f4;
  --bg-lighter: #f6f6f6;
  --svg-dark-mode: #fff;
  --svg-light-mode: rgba(128, 128, 128, 0.786);
  --bg-message: #e5ddd5;
  --bg-selected: #ebebeb;
  --bg-hover: #ebebeb73;
}

body {
  width: 100%;
  height: 100vh;
  color: var(--dark-color);
}

input {
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0 20px;
}

input::-webkit-input-placeholder {
  color: rgba(128, 128, 128, 0.536);
  font-size: 14px;
}

input:-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.536);
  font-size: 14px;
}

input::-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.536);
  font-size: 14px;
}

input::placeholder {
  color: rgba(128, 128, 128, 0.536);
  font-size: 14px;
}

a {
  text-decoration: none !important;
  color: inherit;
}

svg {
  color: var(--svg-light-mode);
}

svg:hover {
  cursor: pointer;
}

#all {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*  Utility Classes  */
.head {
  background: var(--bg-light);
}

/* Right Section */
#right {
  display: none;
  width: 69%;
  height: 100%;
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
}

#right .right-head {
  width: 100%;
  height: 70px;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#right .right-head:hover {
  cursor: pointer;
}

#right .right-head img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#right .right-head .profile-name {
  width: 82%;
  justify-self: flex-start;
  margin-left: 10px;
}

#right .right-head .profile-name h4 {
  font-size: 14px;
  font-weight: 600;
}

#right .right-head .profile-name p {
  padding-top: 3px;
  color: rgba(51, 51, 51, 0.608);
  font-size: 13px;
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#right .tools svg {
  margin-right: 20px;
}

/* Message */
#right .message {
  width: 100%;
  height: 525px;
  background: var(--bg-message);
}

/* Send Message */
#right .write-box .usermessageform {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--bg-light);
}

.added-ops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#right .write-box .usermessageform input {
  width: 83%;
  height: 70%;
}

#right .write-box .usermessageform svg {
  margin-right: 20px;
}

#right .write-box .usermessageform div:last-child svg {
  margin-left: 30;
}

/* Left Section */
#left {
  min-width: 300px;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Head */
#left .left-head {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  border-right: 1px solid rgba(128, 128, 128, 0.236);
}

#left .left-head img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 50%;
  display: inline-block;
}

#left .left-head .tools svg {
  margin-right: 20px;
}

/* Search Box */
#left .search-box {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #fff;
  background: var(--bg-lighter);
  position: relative;
}

#left .search-box .searchbox {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#left .search-box .searchbox input {
  width: 100%;
  color: #333;
  padding: 10px 10px;
  padding-left: 40px;
  font-size: 0.8em;
}

#left .search-box .searchbox svg {
  position: absolute;
  margin: 5px 0 0 10px;
}

/* Contacts */
#left .contacts {
  width: 100%;
  height: 535px;
  background: #fff;
  overflow-y: scroll;
  padding-top: 10px;
}

.contacts::-webkit-scrollbar {
  width: 5px;
  background-color: #171c2866;
}

#left .contacts .contact {
  width: 100%;
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#left .contacts .contact:hover {
  cursor: pointer;
  background: var(--bg-hover);
}

#left .contacts .contact img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

#left .contacts .contact .contents {
  border-bottom: 1px solid var(--light-color);
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 13px 0;
}

#left .contacts .contact .contents .acc {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#left .contacts .contact .contents .acc .acc-l {
  justify-self: flex-start;
}

#left .contacts .contact .contents .acc .acc-l p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.4rem !important;
  font-size: 13px;
  max-height: 1.15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;
  cursor: pointer;
}

#left .contacts .contact .contents .acc .acc-r {
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-end;
  padding-right: 20px;
  font-size: .7rem;
  color: #33333393;
}

@media screen and (min-width: 769px) {
  #right {
    display: block;
  }
  .selected {
    background: var(--bg-selected);
  }
  .selected:hover {
    background-color: var(--bg-selected) !important;
  }
}

@media screen and (max-width: 320px) {
  * {
    font-size: 99%;
  }
}
/*# sourceMappingURL=home.css.map */