.chat-area{
    width: 100%;
    position: relative;
    overflow-y: scroll;
    height: 530px;
    padding: 10px 20px;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &::-webkit-scrollbar {
        visibility: hidden;
    }
    table{
        width: 100%;
        tbody{
            tr{
                margin-bottom: 10px;
                width: 100%;
                td{
                    .outgoing, .incoming{
                        background-color: dodgerblue;
                        color: white;
                        font-family: roboto;
                        font-size: 0.8em;
                        width: 50%;
                        padding: 8px;
                        margin: 3px;
                        display: inline-block !important;
                        position: relative;
                        p{
                            font-size: 1.0rem;
                        }
                        .time{
                            position: absolute;
                            bottom: 5px;
                            right: 5px;
                        }
                    }
                    .incoming{
                        margin-right: 10px;
                        border-radius: 20px 20px 20px 0px;
                    }
                    .outgoing{
                        padding: 10px 20px;
                        margin-left: 120px;
                        border: 1px solid #aaa;
                        background-color: #fff !important;
                        color: dodgerblue;
                        border-radius: 20px 20px 0px 20px;
                        margin-top: 10px;
                        max-width: 600px;
                        float: right;
                    }
                }
            }
        }
    }
}
.clearer{
    height:1px;
    overflow:hidden;
    margin-top:-1px;
    clear:both;
}